@model List<CartItemViewModel>

<h2>Checkout</h2>

@if (!Model.Any())
{
            <p>Your cart is empty!</p>
}
else
{
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model)
            {
                            <tr id="item-@item.Article.Id">
                                <td>
                        @{
                            var imagePath = item.Article.ImagePath ?? "/images/content/default.jpg";
                        }
                                    <img src="@imagePath" alt="Image" style="width: 50px; height: 50px;" />
                                </td>
                                <td>@item.Article.Name</td>
                                <td>@item.Article.CategoryId</td>
                                <td>@item.Article.Price.ToString("C")</td>
                                <td>@item.Quantity</td>
                                <td>@item.TotalPrice.ToString("C")</td>
                            </tr>
            }
                </tbody>
            </table>

            <h3>Total Price: @Model.Sum(item => item.TotalPrice).ToString("C")</h3>

                <form method="post" asp-action="ConfirmOrder">
                <div>
                    <h3>Order details:</h3>
                    <div>
                        <label for="name">First Name:</label>
                        <input type="text" id="name" name="Name" required />
                    </div>
                    <div>
                        <label for="surname">Last Name:</label>
                        <input type="text" id="surname" name="Surname" required />
                    </div>
                    <div>
                        <label for="street">Street:</label>
                        <input type="text" id="street" name="Street" required />
                    </div>
                    <div>
                        <label for="postalCode">Postal Code:</label>
                        <input type="text" id="postalCode" name="PostalCode" required />
                    </div>
                    <div>
                        <label for="city">City:</label>
                        <input type="text" id="city" name="City" required />
                    </div>
                </div>

                <div>
                    <label for="paymentMethod">Payment Method:</label>
                    <select id="paymentMethod" name="PaymentMethod">
                        <option value="CreditCard">Credit Card</option>
                        <option value="PayPal">PayPal</option>
                    </select>
                </div>
                <button type="submit" class="browse-button">Confirm order</button>
        </form>
    /* <a asp-area="" asp-controller="Cart" asp-action="Order"><button class="browse-button">Confirm order</button></a> */
            
}

