@model Lab10.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @{
                var imagePath = "";
            }
            @if (Model.ImagePath == null)
            {
                imagePath = "/images/default.jpg";
            }
            else
            {
                imagePath = Model.ImagePath;
            }
            <img src="@imagePath" alt="Image" />
        </dd>
        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @ViewData["CategoryName"]
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AllArticles">Back to List</a>
</div>
