@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@* BOOTSTRAP *@
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                @{
                    var imagePath = "";
                }
                @if (item.Article.ImagePath == null)
                {
                    imagePath = "/images/content/default.jpg";
                }
                else
                {
                    imagePath = item.Article.ImagePath;
                }
                <img src="@imagePath" class="card-img-top" alt="Image" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Article.Name</h5>
                        <div class='category-name'>@item.CategoryName</div>
                        <p class="card-text">Price: @item.Article.Price</p>
                        <a href="@Url.Action("Edit", "Articles", new { id = item.Article.Id })" class="btn btn-primary">Edit</a>
                        <a href="@Url.Action("Details", "Articles", new { id = item.Article.Id })" class="btn btn-secondary">Details</a>
                        <a href="@Url.Action("Delete", "Articles", new { id = item.Article.Id })" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
    }
</div>
<a asp-area="" asp-controller="Categories" asp-action="Index"><button class="browse-button">Manage categories</button></a>
